body.homepage #page-header-wrapper {
  display: none !important;
}

.if-user-logged-in {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.if-user-logged-out {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
// .login-but {
//   display: inline-block;
//   justify-content: space-between;
//   flex-direction: row;
//   margin-right: 5px;
//   margin-left: 5px;
// }

.header {
  color: white;
  margin-left: 1%;
}

body, div, nav, h2, h1, h3, button, html, p {
  // height: 100%;
  font-family: 'PT Sans', sans-serif;

}

/* The hero image */
.hero-image {
    /* The image used */
    // background-image: url("https://res.cloudinary.com/mbegur/image/upload/v1501198205/hero-new_tflzya.png");
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/mbegur/image/upload/v1501198205/hero-new_tflzya.png");
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/mbegur/image/upload/v1501198205/hero-new_tflzya.png");
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/mbegur/image/upload/v1501198205/hero-new_tflzya.png");
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/mbegur/image/upload/v1501198205/hero-new_tflzya.png");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("https://res.cloudinary.com/mbegur/image/upload/v1501198205/hero-new_tflzya.png");
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/mbegur/image/upload/v1501198205/hero-new_tflzya.png");
    /* Set a specific height */
    height: 500px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.overall-nav-bar {
  background-color: #333;

  /* Set a specific height */
  height: 0%;


  /* Position and center the image to scale nicely on all screens */
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // position: relative;
}

.auth-buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 25px 0;
  // outline: none;
  img {
    border-radius: 50%;
    margin-right: -14px;
  }
  button {
    margin: 0 10px;
  }
}

.username-nav {
  height: 30px;
  padding: 0 15px;
  background-color : transparent;
  border: none;
  outline: none;
  // border-radius: 5px;
  color: white;
}

.username-nav:hover {
  color: #3CB371;
}





.welcome-text {
  display: flex;
  // justify-content: flex-end;
  // position: absolute;
  z-index: 5;
  align-items: center;
  flex-direction: column;
  // padding-bottom: 100px;
  color: white;
  margin-top: 25px;
  // margin-bottom: 200px;
}

.welcome-text h3 {
  font-size: 40px;
  // margin-bottom: 180px;
  // text-shadow: 2px 2px gray;
}
.welcome-text p {
  // margin-bottom: 100px;
  font-size: 18px;
  text-align: center;
  // text-shadow: 2px 2px gray;
}

.welcome-text button {
  margin-top: 25px;
  background-color: #38bf44
;
}

.welcome-text button:hover {
  opacity:0.7;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  color: white;
}
