

.if-user-logged-in {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.if-user-logged-out {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
// .login-but {
//   display: inline-block;
//   justify-content: space-between;
//   flex-direction: row;
//   margin-right: 5px;
//   margin-left: 5px;
// }

.header {
  color: white;
  margin-left: 1%;
}

body, div, nav, h2, h1, h3, button, html, p {
  // height: 100%;
  font-family: 'PT Sans', sans-serif;

}

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("http://res.cloudinary.com/mbegur/image/upload/v1500514196/splash_image_darker_sawsue.jpg");

    /* Set a specific height */
    height: 500px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.auth-buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 25px 0;

  button {
    margin: 0 10px;
  }
}



.auth-buts {
  height: 30px;
  padding: 0 15px;
  background-color : transparent;
  // -moz-border-radius: 5px;
  //   -webkit-border-radius:5px;
  //   border-radius: 5px;
  border: 2px solid white;
  border-radius: 5px;
  color: white;

}

.welcome-text {
  display: flex;
  // justify-content: flex-end;
  // position: absolute;
  z-index: 5;
  align-items: center;
  flex-direction: column;
  // padding-bottom: 100px;
  color: white;
  margin-top: 50px;
  // margin-bottom: 200px;
}

.welcome-text h3 {
  font-size: 40px;
  // margin-bottom: 180px;
}
.welcome-text p {
  // margin-bottom: 100px;
  font-size: 18px;
}

.welcome-text button {
  margin-top: 25px;
  background-color: green;
}
