.overall-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}



.form{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-content: center;
}

.ReactModal__Content {
  display: flex;
  justify-content: center;
  align-items: center;
}



.auth-input {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}


.auth-buts {
  height: 30px;
  padding: 0 5px;
  background-color : transparent;
  // border: 1px solid white;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;

}

.auth-buts:hover {
  // background: rgba(transparent, 0);
  // font-weight: 900;
  // letter-spacing: 1px;

  // box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
//   -webkit-box-shadow: 0px 3px 40px 4px rgba(245,237,245,1);
// -moz-box-shadow: 0px 3px 40px 4px rgba(245,237,245,1);
// box-shadow: 0px 3px 40px 4px rgba(245,237,245,1);
color: #3CB371;
}

.logo-buts:hover {
//   -webkit-box-shadow: 0px 3px 40px 4px rgba(245,237,245,1);
// -moz-box-shadow: 0px 3px 40px 4px rgba(245,237,245,1);
// box-shadow: 0px 3px 40px 4px rgba(245,237,245,1);
color: #3CB371;
}

.logo-buts {
  height: 30px;
  padding: 0 15px;
  background-color : transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 12px

}


.form-but {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  padding: 0 15px;
  background-color: #3CB371;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}
