.overall-song-detail-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  // align-items: center;
  justify-content: center;
  background-color: #ebebeb;
}

.song-detail-page {
  background-image: url('https://res.cloudinary.com/mbegur/image/upload/v1500931361/507865214_zfqjwg.jpg');
  // background-color: #B9EDD9;
  display: flex;
  // flex-direction: row;
  width: 80%;
  justify-content: space-between;
  // border: solid 2px black;
  align-self: center;
  // background-color: #e8fdf3;
  align-items: center;

}

.comment-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  // justify-content: space-between;
  // border: solid 2px black;
  align-self: center;
  background-color: #f2f2f2;
  align-items: center;
  min-height: 100vh;

}

.comment-form-container {
  max-width: 50rem;
  min-width: 50rem;
  form {
    display: flex;
    flex-direction: row;
  }

  form input[type="text"] {
    width: 50em;
  }



}

.comment-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100px;
  word-wrap:break-word;
}

.comment-input {
  width: 25em;
  background-color: lightgray;
}

.comment-submit {
  background-color: #3CB371;
  padding: 5px;
  color: white;
}
.comment-submit:hover {
  opacity: .8;
}

.delete-button {
  background-color: gray;
  padding: 5px;
}

.delete-button:hover {
  opacity: .8;
}

.song-deets {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2%;
  margin-bottom: 20%;
}

.song-detail-image {
  padding: 2%
}

.song-detail-title {
  font-size: 36px;
}

.song-detail-username {
  font-size: 18px;
}

.song-detail-username:hover {
  color: #3CB371;
}

.delete-button {
  margin-top: 0;
}

.play-button-and-other-deets {
  display: flex;
  // justify-content: space-between;
  flex-direction: row;
}

.new-comment-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-comment-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-comment-form {
  margin-left: 20%;
  // align-self: center;
}

.user-comment-info-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}
.new-comment-user-image {
  border-radius: 50%;
  margin-right: 10px
}

.new-comment-user-image:hover {
  opacity: .8;
}

.comment-username-link {
  color: gray;
}
.comment-username-link:hover {
  color: #3CB371;
}

.edit-but {
  background-color: gray;
  padding: 5px;
}

.song-buttons {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  // justify-content: space-around;
}
//
.deets {
  margin-left: 15px;
}
