.overall-song-detail-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  // align-items: center;
  justify-content: center;
  background-color: #BAF9DF;
}

.song-detail-page {
  background-image: url('http://res.cloudinary.com/mbegur/image/upload/v1500931361/507865214_zfqjwg.jpg');
  // background-color: black;
  display: flex;
  // flex-direction: row;
  width: 80%;
  justify-content: space-between;
  // border: solid 2px black;
  align-self: center;
  background-color: #e8fdf3;
  align-items: center;

}

.comment-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  // justify-content: space-between;
  // border: solid 2px black;
  align-self: center;
  background-color: #e8fdf3;
  align-items: center;

}

.comment-form-container {

  form {
    display: flex;
    flex-direction: row;
  }

  form input[type="text"] {
    width: 50em;
  }



}


.comment-input {
  width: 25em;
}

.song-deets {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2%;
  margin-bottom: 20%;
}

.song-detail-image {
  padding: 2%
}

.song-detail-title {
  font-size: 36px;
}

.song-detail-username {
  font-size: 18px;

}
.delete-button {
  margin-top: 0;
}

.play-button-and-other-deets {
  display: flex;
  // justify-content: space-between;
  flex-direction: row;
}
