.splash-index-page {
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  align-items: center;
  height: 60vh;
}
.splash-index-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 2%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 90%;
}

.splash-index-image {
  // position: absolute;
  opacity: 1;
  display: block;
  width: 100%;
  height: 50%;
  transition: .5s ease;
  backface-visibility: hidden;
  // margin: 0 10px;
}


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  button:hover {
    opacity:0.7;
  }
}


.container:hover .splash-index-image {
  opacity: .6;
}

.container:hover .middle {
  opacity: 1;

}

.splash-header {
  font-size: 30px;
}

.splash-title {
  width:100%;
  overflow:hidden;
}

.splash-title:hover {
  color: #3CB371;
}

.splash-username {
  font-size: 13px;
}

.splash-username:hover {
  color: #3CB371;
}
