.overall-splash {
  background-color: #ebebeb;
}

.overall-user-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  // align-items: center;
  justify-content: center;
  background-color: #ebebeb;

}

.user-page {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  // border: solid 2px black;
  align-self: center;
  background-color: #f2f2f2;
  align-items: center;
  h2 {
    margin-left: 10%;
    border-bottom: 2px solid #BAF9DF;
    width: 80%;
    // align-self: center;
  }

  div {
    align-items: center;
    // font-size: 20px;
    // margin-left: 15%;
  }

  .header-user-page {
    background: white;
    height: 250px;

    .banner {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text {
        margin-left: 20px;
        background-color: black;
        color: white;
      }
    }

    .between-left-middle {
      display: flex;
      justify-content: space-around;
    }

    .header-left {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 15px;
    }
    .header-right {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 15px;
    }


    .header-top {

    }



    input:hover {
      cursor: pointer;
    }

    // button {
    //   border: 1px solid black;
    //   background-color: green;
    // }

    label {
      color: white;
      font-size: 12px;
      background-color: #e7e7e7;
      color: black;
      margin: 10px;
    }

    label:hover {
      cursor: pointer;
      opacity: .5;

    }
  }
}

.header-user-page {
  width: 100%;
  img {
    border-radius: 50%;

  }
}

.users-songs {
  display: flex;
  flex-direction: row;
  min-height: 80vh;
  display: flex;
   flex-flow: wrap;
   justify-content: center;
}
